.titulo_ventana {
  font-weight: 900;
  font-size: 16px;
  text-align: left;
}

/* For demo */
.ant-carousel .slick-slide {
  position: relative;
  display: block;
  text-align: center;
  height: 550px;
  line-height: 160px;
  overflow: hidden;
  top: 10px;
}

.ant-carousel .slick-slide h3 {
  color: rgb(212, 21, 21);
}

.carrusel {
  position: relative;
}

.Cards_carrousel {
  background-color: #fff;
  margin: 0 auto;
  height: 200px;
  width: 750px;
  margin-top: 40px;
  border-radius: 1em;
  color: orange;
  position: relative;
  z-index: 2;
}

.pregunta {
  font-weight: 700;
  font-size: 18px;
  font-family: Tahoma, Geneva, sans-serif;
}

.elvideo {
  height: 350px;
  width: 650px;
  position: absolute;
  top: 70px;
  left: 50px;
  background: black;
}

.elvideo2 {
  height: 350px;
  width: 650px;
  position: absolute;
  top: 70px;
  left: 50px;
  background: black;
  display: none;
}
.numeroPregunta {
  color: orange;
  font-size: 35px;
  font-weight: 900px;
  float: left;
}

.videoDefault {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.fondoUp {
  width: 94%;
  height: 150px;
  background-color: #001f5f;
  position: absolute;
}

.contenedor-icons {
  left: 41%;
  bottom: -210px;
  position: absolute;
  display: inline-block;
}
