.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  background-image: url("https://site.krowdy.com/wp-content/uploads/2019/01/14153940/logoKrowdymenu.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 200px;
  background-color: red;
  position: absolute;
}

.cabecera {
  box-shadow: 0 0.8em 0.5em -1em;
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
