.showMatriz {
  position: absolute;
  top: 135px;
  right: 20px;
  z-index: 2;
}

.ver_preguntas {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  margin-right: 13px;
  margin-bottom: 5px;
  color: #fff;
}

.ver_icon {
  display: inline-block;
}
