.video-responsive {
  position: absolute;
  /* 16/9 ratio */
  /*padding-top: 53px;
    /* IE6 workaround
    left: 215px;*/
  left: 350px;
  top: 150px;
  width: 720px;
  height: 400px;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 10;
  left: 0;
  width: 70%;
  height: 55%;
}

.skipIntro {
  position: absolute;
  height: 50px;
  top: 570px;
  left: 1040px;
  font-weight: bold;
  font-size: 16px;
}
